/* ======================== CATEGORY SECTION ========================= */
.categorySection {
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
}
.categoryWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.textWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  font-size: 0.9em;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 628px) {
  .categorySection {
    width: 100%;
    height: 100%;
    padding: 2em 1.25em;
  }
  .categoryWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* ======================== RECOMMENDATION SECTION ========================= */
.recommendSection {
  height: 77vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #0d253c;
}
.recommend {
  flex: 3;
  margin-left: 4em;
  margin-right: 2em;
}
.recommendArticlesWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tags {
  flex: 1;
  border-left: 1px solid #0d253c;
  padding: 0 1em;
}
.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tagsWrapper span {
  margin: 0.25em 0;
  padding: 0.25em;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 628px) {
  .recommendSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #0d253c;

    padding: 2em 1.25em;
  }
  .recommend {
    margin-left: 0;
    margin-right: 0;
  }
  .tags {
    border-left: none;
    border-top: 1px solid #eeedf0;
    padding: 0 0;
  }
  .tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .tagsWrapper span {
    margin: 0.25em 0.5em;
  
  }
}

/* ======================== ARTICLE VIDEO SECTION ========================= */
.videoSection {
  height: 60vh;
  width: 100%;
  border-top: 1px solid #0d253c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4em;
  padding-right: 7em;
}
.video {
  border-radius: 8px;
  border: 1px solid #0d253c;
  object-fit: contain;
}
.videoDescWrapper p {
  font-size: 1.055em;
  line-height: 1.5em;
}

@media screen and (max-width: 628px) {
  .videoSection {
    display: none;
  }
}

/* ======================== LATEST ARTICLE SECTION ========================= */
.latestArticlesSection {
  height: 110vh;
  width: 100%;
  border-top: 1px solid #0d253c;
  display: flex;
  flex-direction: row;
}
.latestNews {
  flex: 3;
  padding: 2em 4em;
}

.topAuthor {
  flex: 1;
  border-left: 1px solid #0d253c;
}
.topAuthorsWrapper {
  margin-top: 2em;
}

@media screen and (max-width: 628px) {
  .latestArticlesSection {
    height: 100%;
    width: 100%;
    border-top: none;
    display: flex;
    flex-direction: column-reverse;

    padding: 2em 1.25em;
  }
  .topAuthor {
    border-left: none;
    border-top: 1px solid #eeedf0;
  }
  .latestNews {
    border-top: 1px solid #eeedf0;
    padding: 0;
  }
}


